@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter',sans-serif;
}
.ant-input-affix-wrapper .ant-input-prefix  {
  margin-inline-end: 6px; 
} .ant-otp-input {

width:40px;
height: 40px;
}